@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p2 {
    border-left: 6px solid red;
    padding-left: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    font-style: italic;
    color: #555;
    margin-left: 10px;
}

h1 {
    font-family: 'Roboto', serif;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #555;
}

img {
    max-width: 60%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: block;
    margin: 20px 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}